body {
  margin: 0;
  padding: 0;
    background-color: #fbfbfb;
  font-family:mord;
}

@font-face {
  font-family: mord;
  src: url(mord.ttf);
}


h1{
padding-left: 25px;
 font-weight: bold;
  padding-right:30px
  text-align: justify;
  font-size: 25px;
  font-family: mord;
}

h3{
  font-size: 25px;
  font-family:mord;
  padding-left: 40px;
  padding-right: 40px;
}

  .container {
    display:flex;
    align-items: flex-end;
  height: 200px;
  }

  .contain{
    position:relative;
    float: right;
    margin-top: 0;
    margin-left: 1000px;
  }

  .right{
    position:absolute;
   top:0;
   right:0;
  }

  .title  {
    position: absolute;
margin-left: 200px;
margin-top: 0;
padding-top: 0;}


