body {
  margin: 0;
  padding: 0;
  background-image: url(./image/back.jpg);
  font-family:mord;

}


h1{
padding-left: 25px;
  padding-right:30px
  text-align: justify;
 text-justify: inter-word;
  font-size: 25px;
  font-family: mord;
}

h3{
  font-size: 30px;
  text-decoration: underline;
  font-weight: bold;
  font-family:mord;
  padding-left: 30px;
  padding-top:30px;
}

