body {
  margin: 0;
  padding: 0;
  background-image: url(./image/back.jpg);
  font-family:mord;

}


h1{
padding-left: 25px;
 font-weight: bold;
  padding-right:30px
  text-align: justify;
  font-size: 25px;
  font-family: mord;
}

h3{
  font-size: 25px;
  font-family:mord;
  padding-left: 40px;
  padding-right: 40px;
}

