font-face {
  font-family:nick;
  src: url(nick.ttf);
}

.texth {
  padding-left: 180px;
  padding-right: 200px
  text-align: justify;
  font-size: 20px;
  margin-top: 100px;
  margin-right: 100px;
  font-family: nick;
}
