body {
  margin: 0;
  padding: 0;
    background-color: #8e7f7f;;
  font-family:mord;
}

@font-face {
  font-family: mord;
  src: url(mord.ttf);
}


h1{
 font-weight: bold;
  text-align: justify;
  font-size: 25px;
  font-family: mord;
color:"#3c1b1f";

}
.box{
  background-color: #f8f4e1;
  padding-top: 30px;
  padding-left:40px;
  padding-right:40px;
  padding-bottom:30px;
  margin-top: 50px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom:50px;
}

h2{
  font-size: 20px;
  font-family:mord;zz
}


.head h1{
    padding-top:30px;
  margin-left: 15px;
}


  
#chart{
  display: flex;
  justify-content: center;
}
