body {
  margin: 0;
  padding: 0;
    background-color: #8e7f7f;
  font-family:mord;
}

@font-face {
  font-family: mord;
  src: url(mord.ttf);
}


h1{
 font-weight: bold;
  text-align: justify;
  font-size: 25px;
  font-family: mord;
color:"#3c1b1f";

}

h2{
  font-size: 20px;
  font-family:mord;zz
}

p{font-size: 20px;
  font-family:mord;
  text-align:justify;
}

.container{
    display:flex;
    align-items: flex-end;
  height: 200px;
  }

.first-text{
   font-weight: bold;
  text-align: justify;
  font-size: 25px;
  font-family: mord;
  margin: auto;
  width: 100%;
  position: absolute;
  padding-top:20px;
  padding-left:30;
}

.head h1{
    padding-top:30px;
  margin-left: 15px;
}

  
#chart{
  display: flex;
  justify-content: center;
}
.title{
  padding-left:20px;
  padding-top: 15px;
  width:50%;
}

.table{
  align:right;
}

.box{
  background-color: #f8f4e1;
  padding-top: 30px;
  padding-left:40px;
  padding-right:40px;
  padding-bottom:30px;
  margin-top: 50px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom:50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px 20px 70px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

