body {
  margin: 0;
  padding: 0;
    background-image: url (mona.jpg)
  font-family:mord;
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.box{
  background-color: #f8f4e1;
  padding-top: 30px;
  padding-left:40px;
  padding-right:40px;
  padding-bottom:30px;
  margin-top: 50px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom:50px;
}
