body {
  margin: 0;
  padding: 0;
    background:#4d3e3e;
    font-family:mord;
}

.box{
  
display: flex;
            flex-direction: row;
            height: 25%;
            width: 100;
}
#mytext{
  text-align: left;
            
}

 h3 {
  font-family:mord;
  font-size: 20px;
}

h2{
  font-family:mord;
  font-weight:bold;
  font-size:20;
  text-align:justify;
}
  


@font-face {
  font-family: mord;
  src: url(mord.ttf);
}



